body{
    background-color: rgb(65, 64, 64);
}

header{
    height: 80px;
    background-color: black;
    font-family: 'Turret Road', cursive;
}

#headerIcon {
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    margin: 5px;
    height: 80px;
}

#headerIcon > h2 {
    font-size: 30px;
    margin: 0px 15px;
}

header > nav{
  display: flex;  
  flex-direction: row;
  width: 50%;
}

.project{
    height: 300px;
    width: 25%;
    background-color: darkgrey;
    box-sizing: border-box;
    text-align: center;
    margin: 20px;
    border: solid 1px black;
    border-radius: 4px;
}

.project >img {
    width: 90%;
    padding-top: 15px;
    border-radius: 3px;
}



/* 
div{
    margin: auto;
    text-align: center;
}
#mapaMental{
    width: 80%;
}
h1{
    margin: auto;
} */