/* BACKGROUND */

body{
    color: white;
}

.bg-image{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url(https://images.unsplash.com/photo-1508780709619-79562169bc64?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    min-height: 600px;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}

/* HEADER*/

header{
    height: 80px;
    background-color: black;
    font-family: 'Source Code Pro', monospace;
}

#headerIcon {
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    height: 80px;
}

#headerIcon > h2 {
    font-size: 30px;
    margin-right:  15px;
    margin-left: 40px;
}

header > nav{
  display: flex;  
  flex-direction: row;
  width: 50%;
}

/* CARDS */

.projects{
    display: grid;
    width: 90%;
    margin: 0px auto;
    grid-template-columns: 33% 33% 33%;
}

.project
{
    text-align: center;
    margin: 20px 0px;
    text-emphasis: auto;
    font-family: 'Source Code Pro', monospace;

}

.project >div >img {
    padding: 10px 5px;
    height: 160px;
    width: 90%;
    margin: auto;
}

.project > i{
    background-color: white;
    font-size: 25px;
}

.project > a{
    text-decoration: none;
}

.card{
    background-color: rgb(32, 32, 32, 0.5);
}

.card:hover{
    background-color: rgb(32, 32, 32, 0.9);
    transition: 200ms;
}

.card-text{
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    margin-bottom: 20px;
}

.plus{
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
}

.plus:hover{
    transform: scale(1.2);
    transition: 100ms;
}

/* MAPAS MENTALES */


#mapaMentalDiv{
    margin: auto;
    text-align: center;
}

#mapaMentalDiv > h3{
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    color: white;
    margin: 20px auto;
}

#mapaMental{
    width: 75%;
}

h1{
    margin: auto;
} 

.arrow{
    color: white;
    margin: 30px 55px;
    font-size: 30px;
}