.infoExtra{
    position: absolute;
    top: 0;
    width: 100%;
}

h4{
    margin-top: 4%;
    margin-left: 4%;
    text-align: left;
    display: inline-block;
}

i{
    position: absolute;
    right: 3%;
    top: 3%;
}

ul{
    list-style: none;
    text-align: left;
}

